/* Add here all your css styles (customizations) */
.non-field-error {
    color: #d9534f;
    margin-bottom: 10px;
}

.a-no-style,
.a-no-style:hover,
.a-no-style:visited {
    text-decoration: none;
}
